<br>
<br>
<h1>New DnD Campaign Form</h1>
<%= form_with url: "/dnd_campaigns", method: :post, data: {turbo: false}, local: true do |form|%>
  <%=form.label :name%>
  <%=form.text_field :name%><br><br>
  <%=form.label :setting%>
  <%=form.text_field :setting%><br><br>
  Number of <%=form.label :sessions%>
  <%=form.number_field :sessions%><br><br>
  Active Campaign <%form.label :active_campaign%>
  <%=form.select(:active_campaign, %w[select true false]) %><br><br>
  <%=form.submit "Create DnD Campaign"%>
<%end%>