<h1><%=@dnd_campaign.name%> Players</h1>

<%= link_to "Sort Players Alphabetically", :sort => "names_alphabetically" %>

  <%@players.each do |player|%>
    <div id="player_<%=player.id%>">
    <h2><%=link_to "#{player.name}", "/players/#{player.id}"%></h2>
    <p><b>Game Master:</b> <%= player.game_master%></p>
    <p><b>Character Name:</b> <%= player.character_name%></p>
    <p><b>Sessions Missed:</b> <%= player.sessions_missed%> </p>
    <p><b>Active Player:</b> <%= player.active_player%> </p>
    </div>
  <%end%>

<%= link_to "Create New Player", "/dnd_campaigns/#{@dnd_campaign.id}/players/new" %>


