<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to 'DnD Campaigns List', "/dnd_campaigns" %><br>
    <%= link_to 'Players List', "/players" %>
    <%= yield %>
  </body>
</html>
